.drop-btn {
  display: inline-block;
  cursor: pointer;
  color: teal;
}

/*button component styles */
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

/* item styles */
.items {
  background-color: #333;
  border-radius: 3px;
  width: max-content;
  padding: 10px;
}

.invisible {
  visibility: hidden;
  max-height: 0px;
}

.visible {
  visibility: visible;
  transition-property: all;
  transition-duration: 1s;
}
